@font-face {
    font-family: Bliss-Bold;
    src: url(/fonts/BlissPro-Bold.otf);
}

@font-face {
    font-family: Bliss-Italic;
    src: url(/fonts/BlissPro-Italic.otf);
}

@font-face {
    font-family: Bliss-LightItalic;
    src: url(/fonts/BlissPro-LightItalic.otf);
}

@font-face {
    font-family: Bliss-Medium;
    src: url(/fonts/BlissPro-Medium.otf);
}

@font-face {
    font-family: Bliss;
    src: url(/fonts/BlissPro-Regular.otf);
}
