@media (min-width: 768px) {
    .footer {
        padding-right: 40px;
        padding-left: 40px;
    }
}

.footer {
    background-color: #312822;
    color: #FFFFFF;

    &__logo {
        width: 80px;
    }

    &__info {
        padding: 20px;
    }

    &__link {
        color: #BDB9B7;

        &:hover {
            color: #ea7640;
            text-decoration: none;
        }
    }

}
